.modal {
    background: white;
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.closeBtn {
    display: flex;
    margin-top: 7px;
    margin-left: 7px;
    height: 1.5rem;
    width: 1.5rem;
}

.closeBtn:hover {
    cursor: pointer;
}