.signup {
    padding-top: 10px;
}

.signupBtn {
    background: transparent;
    color: white;
    font-size: 23px;
    border: none;
    width: 100px;
    margin-right: 75px;
}

.signupBtn:hover {
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.signupModal {
    position: relative;
    z-index: 2;
}