.signup {
    /* width: 100vh; */
    padding-top: 10px;
}

.signupBtn {
    background: transparent;
    color: white;
    font-size: 23px;
    border: none;
    width: 100px;
    margin-right: 100px;
}

.signupBtn:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}