.modal {
    background: white;
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.closeBtn {
    height: 1.5em;
    width: 1.5em;
    margin-left: 0;
}

.closeBtn:hover {
    cursor: pointer;
}