.nav {
    padding-top: 10px;
}

.menu-container {
    width: 400px;
}

.menu-trigger {
    font-size: 23px;
    color: white;
    background: transparent;
    height: 30px;
    width: 175px;
    margin-left: 25px;
}

.menu-trigger:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    left: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
    width: 200px;
    height: 230px;
    overflow: scroll;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
}

.navBtn {
    border: none;
    background-color: white;
    font-size: 15px;
    line-height: 25px;
    border-radius: 5px;
}

.navBtn:hover {
    cursor: pointer;
    color: white;
    background-color: lightgray;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
}