.loginBtn {
    background: transparent;
    color: white;
    font-size: 23px;
    border: none;
    height: 30px;
    width: 75px;
    margin-top: 0;
}

.loginBtn:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.loginModalBtn {
    border: none;
}