.modalContainer {
    width: 100%;
}

.modal {
    background: white;
    width: 350px;
    border-radius: 10px;
    margin-left: 50%
}

.closeBtn {
    height: 1.5em;
    width: 1.5em;
    margin-left: 0;
}

.closeBtn:hover {
    cursor: pointer;
}