.login {
    padding-top: 10px;
    width: 100%;
}

.loginBtn {
    background: transparent;
    color: white;
    font-size: 23px;
    border: none;
    height: 30px;
    width: 75px;
    margin-left: 700px;
}

.loginBtn:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

.loginModal {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginModalBtn {
    border: none;
    margin: 15px;
}