.login {
    padding-top: 10px;
}

.loginBtn {
    background: transparent;
    color: white;
    font-size: 23px;
    border: none;
    height: 30px;
    width: 75px;
}

.loginBtn:hover {
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}