.home {
    color: black;
}

.hometext {
    font-size: 70px;
    font-weight: 200;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.hometext:hover {
    cursor: default;
}

.menu-container {
    position: relative;
    z-index: 1;
}

.menu-container:hover {
    cursor: pointer;
}

.trigger {
    background: white;
    outline: none;
    padding-top: 10vh;
}

.trigger:hover {
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: 10;
    /* left: 50%; */
}

.nav-btn {
    margin-top: 2vh;
    background: white;
    border: none;
}

.nav-btn:hover {
    cursor: pointer;
}

.home-pics {
    position: relative;
    z-index: -1;
    margin-top: -8vh;
}

.pic-1 {
    height: 35vh;
    /* margin-top: 5vh; */
    margin-right: 5vh;
}

.pic-2 {
    height: 35vh;
    margin-right: 5vh;
}

.pic-3 {
    height: 35vh;
    margin-right: 5vh;
}

.pic-4 {
    height: 35vh;
    margin-top: 10vh;
    margin-right: 10vh;
}

.pic-5 {
    height: 35vh;
}

.pic-6 {
    height: 35vh;
}