.home {
    color: black;
}

.hometext {
    font-size: 70px;
    font-weight: 200;
    position: absolute;
    text-align: center;
    margin-left: 5%;
    margin-top: 0%;
}

.home-menu {
    background: white;
    outline: none;
    margin-top: 10%;
}

.pic-1 {
    height: 50vh;
    margin-top: 20vh;
}

.pic-2 {
    height: 50vh;
}

.pic-3 {
    height: 50vh;
}

.pic-4 {
    height: 50vh;
}

.pic-5 {
    height: 50vh;
}

.pic-6 {
    height: 50vh;
}

.pic-7 {
    height: 50vh;
}