.home {
    color: black;
}

.hometext {
    font-size: 70px;
    font-weight: 200;
    text-align: center;
    margin-left: 5%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.home-menu {
    background: white;
    outline: none;
    padding-top: 10vh;
}

.pic-1 {
    height: 50vh;
    margin-top: 5vh;
    margin-left: -40vh;
    margin-right: 5vh;
}

.pic-2 {
    height: 50vh;
    margin-right: 5vh;
}

.pic-3 {
    height: 50vh;
    margin-right: 5vh;
}

.pic-4 {
    height: 50vh;
    margin-top: 10vh;
    margin-right: 10vh;
}

.pic-5 {
    height: 50vh;
}

.pic-6 {
    height: 50vh;
}

.pic-7 {
    height: 50vh;
}